$bg: #d4eeff;

.MuiContainer-root {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;

  min-height: calc(100vh - 50px);
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 25px;

  background-color: $bg;
  box-shadow: -15px 15px 0 0 rgba(83, 83, 83, 0.42);
  cursor: default;
}