$hover-bg: #dae7ee;

svg.star {
  transition: .5s ease;
  cursor: pointer;
}

.star_filled {
  background-color: #ffec83;
  border-radius: 50%;
}

.text span{
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  font-size: 1.1rem;
  color: #343434;
}

.delete {
  margin-left: 12.5px;
  cursor: grab;
}

.post {
  transition: all .3s ease-in;
}

.post:hover {
  background-color: $hover-bg;
}

.arrow {
  cursor: pointer;
}