$font-priority: #005161;

.search {
  padding-left: 25px;
  & input {
    color: #005161;
  }
  &__textFiled label {
    color: #005161 !important;
  }
}

.MuiInput-underline:after {
  border-bottom: 2px solid #005161 !important;
}
